{% extends "_includes/layouts/base.html" %}
{% block content %}
<main class="container mt-4">
    <section id="Create Job Role" class="mt-4">
        <h2>Create Job Role</h2>
        <div class="container">
            {% if errormessage %}
            <div class="alert alert-danger" role="alert">
                {{ errormessage }}
            </div>
            {% endif %}
            <form action="/job-role" method="post">
                <label for="jobRoleTitle">Job Role Title:</label>
                <input type="text" id="jobRoleTitle" name="jobRoleTitle" class="form-control">
                <label for="cabability">Capability:</label>
                <select id="cababilityId" name="capabilityId" class="form-control" required>
                    {% for capability in capabilities %}
                    <option value={{capability.capabilityId}}>{{capability.capabilityName}}</option>
                    {% endfor %}
                </select>
                <label for="band">Capability:</label>
                <select id="bandId" name="bandId" class="form-control" required>
                    {% for band in bands %}
                    <option value={{band.bandId}}>{{band.bandName}}</option>
                    {% endfor %}
                </select>
                <label for="sharePointLink">SharePoint Link:</label>
                <input type="text" id="sharePointLink" name="sharePointLink" class="form-control">
                <button type="submit" class="btn kainosBlueButton">Create Job Role</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}