{% extends "_includes/layouts/base.html" %}
{% block content %}
<main class="container mt-4">
       
    <section id="orders" class="">

        <h1>{{ jobRole[0].jobRoleTitle }}</h1>
        {% if jobRole and jobRole.length > 0 %}

        {% for role in jobRole %}

        <div class="roleNameDiv">
            <h2>{{ role.jobRoleTitle }}</h2>
        </div>
        
        <div class="specDiv">
            <h4>Job Specification</h4>

            <div class="specListDiv">
                <ul>
                    {% set specArray = role.specificationText.split(', ') %}
                    {% for specText in specArray %}
                        <li>{{ specText }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        
        <a href="{{ role.sharepointLink }}">Sharepoint Link</a>
        
        {% endfor %}

        {% else %}
            Role Not Found
        {% endif %}
    </section>

</main>
{% endblock %}