{% extends "_includes/layouts/base.html" %}
{% block content %}
<main class="container mt-4">
       
    <section id="orders" class="mt-4">
        <h2>Job Roles</h2>
        {% if jobRoles and jobRoles.length >0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Status</th>                     
                </tr>
            </thead>
            <tbody>
                {% for job in jobRoles %}
                <tr>
                    <td>{{ job.jobRoleTitle }}</td>
                    <td>Available</td>                
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        No Job Roles found
        {% endif %}
    </section>

</main>
{% endblock %}