{% extends "_includes/layouts/base.html" %}
{% block content %}
<main class="container mt-4">
    {% if errormessage %}
        <div class="alert alert-danger" role="alert">
            {{ errormessage }}
        </div>
    {% endif %}
       
    <section id="orders" class="">
        <h2>Job Roles</h2>
        {% if jobRoles and jobRoles.length >0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Capability</th>                    
                    <th scope="col">Band</th>  
                    <th scope="col">Specification</th>                
                </tr>
            </thead>
            <tbody>
                {% for job in jobRoles %}
                <tr>
                    <td>{{ job.jobRoleTitle }}</td>
                    <td>{{ job.capabilityName }}</td>            
                    <td> {{ job.bandName }} </td>
                    <td><a href="/job-roles/{{ job.jobRoleId }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        No Job Roles found
        {% endif %}
    </section>

</main>
{% endblock %}