body {
    font-family: Century Gothic, sans-serif;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background: radial-gradient(circle, rgb(40, 53, 131), rgb(0, 70, 49)); */
    color: black;
    text-align: center;
    font-size: large;
  }

  footer a {
    text-decoration: none;
    color: black;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .navbar-nav a:hover{
    text-decoration: underline;
  }
  